{% extends 'control_base.html' %}


{% block content %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Korzinka</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'manage' %}">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'categorys' %}">Categorys</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<br>

<!-- Main Content -->

<div class="container">
		<div class="remove-box">
			<div class="total text-white">
				<h1>Remove "{{ product.name }}"?</h1>
                <br>
                <form method="POST" class="remove_form">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">Yes, I`m sure</button>
                </form>
                <a class="btn btn-primary" href="{% url 'manage' %}">No, take me back</a>
			</div>
		</div>
</div>
<hr>
<footer>
    <h6 class="footer__text text-center">&copyKorzinka 2023-2023</h6>
</footer>
{% endblock %}