{% extends 'base.html' %}


{% block content %}
	
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  	<div class="container">
	    	<a class="navbar-brand" href="{% url 'home' %}">Korzinka</a>
		    <a class="ms-auto back_url" href="{% url 'home' %}">Go To Home</a>
	  	</div>
	</nav>
	<br>
	<!-- Main Content -->

	<div class="container">
		<h1 class="text-center">Thank You For Your Purchase!</h1>
		<br>
		<a href="{% url 'home' %}" class="btn btn-primary product__btn">Go To Home</a>
	</div>

	<!-- Footer -->

	<hr>
	<footer>
		<h6 class="footer__text">&copyKorzinka 2023-2023</h6>
	</footer>

{% endblock %}